<section class="admin-products-index">

  <header class="page-header">
    <h1>Admin &raquo; Inventory Status</h1>
  </header>

  <div class="panel panel-default products">

    <table class="table table-bordered">
      <thead>
        <tr>
          <th colspan="2">Total Products</th>
          <th><%= @product_count %></th>
          <th>Total Categories</th>
          <th><%= @category_count %></th>
        </tr>
      </thead>
      <tbody>
      </tbody>
    </table>

  </div>

</section>